@model NookMainApp.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppointmentViewModel</h4>
    <hr />

    <div>
        <img src=@Url.Content(Model.Rentee.Image) alt="No Image" width="100" />
    </div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rentee.NickName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentee.NickName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFees)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalFees)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlacementDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlacementDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AllAppointment">Back to Appointment List</a>
</div>
