@model NookMainApp.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "RenteeAppointmentDetails";
}

<h1>RenteeAppointmentDetails</h1>

<div>
    <h4>AppointmentViewModel</h4>
    <hr />
    @if (Model.Renter != null)
    {
        <img src="@Url.Content(Model.Renter.Image)" alt="No Image" style="width:100%" />
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Renter.NickName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Renter.NickName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFees)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalFees)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlacementDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlacementDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AllRenteeAppointment">Back to Appointments</a>
</div>
