@model IEnumerable<NookMainApp.Models.Rentee>

@{
    ViewData["Title"] = "Friend List";
}

@*<h4>@ViewBag.LoginUser</h4>*@

<h1>Meet your new friends!</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-2" style="width:300px">
            <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Image)" alt="Card image" style="width:100%">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.NickName)</h4>
                <p class="card-text">@Html.DisplayFor(modelItem => item.About)</p>

                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.Gender) |
                    @Html.DisplayFor(modelItem => item.DOB)
                </p>

                <a href="@Url.Action("GetRenteeDetails", "Rentee", new { id = item.UserId })" class="btn btn-warning mt-auto">Book</a>
            </div>
        </div>
    }
</div>

