@model NookMainApp.Models.Rentee

@{
    ViewData["Title"] = "GetRenteeDetails";
}

<h1>GetRenteeDetails</h1>
<h4>@ViewBag.LoginUser</h4>
<div>
    <h4>Rentee</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fee)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Make Appointment", "CreateAppointment", "Appointment", new { UserId = Model.UserId })
    <a asp-action="Index">Back to List</a>
</div>
